/* Styles go here */

@media (max-width: 650px) {
    .responsive .col {
        width: 100%;
        margin-bottom:15px;
    }
    .responsive {
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
